
<leaflet width="99%" height="99%" lf-center="gulf" markers="markers" event-broadcast="events"></leaflet>

<script type="text/ng-template" id="panel.template.html">
  <md-content>
      <div md-whiteframe="3" layout="column" layout-fill style="min-width:60%">
        <md-toolbar class="md-hue-2">
          <div class="md-toolbar-tools">
            {{panel.heading}}
          </div>
        </md-toolbar>
        <div layout-padding>
          <md-list>
            <md-list-item ng-repeat="item in panel.content">
              {{item}}
            </md-list-item>
          </md-list>
        </div>
      </div>
  </md-content>
</script>
